* {
    text-align: center;
    font-family:'Courier New', Courier, monospace
}

nav {
    border-bottom: solid black 2px;
    padding-bottom: 10px;
}

.menu {
    display: inline-block
}

.menu ol {
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
    background-color: #e8e8e8;
}

.menu a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}